body {
    font-family: 'Poppins', sans-serif;
}
.top-section {
    display: flex;
}
.half-width {
    width: 50%;
    margin: 3%;
}
#design {
    padding-top: 150px;
}
.text-color {
    color: darkorange;
}
.p-text-color {
    color: gray;
    margin-bottom: 40px;
}
.half-width img {
    width: 80%;
}
h1 {
    font-size: 50px;
    margin: 0;
}
.order-address {
    text-decoration: none;
    padding: 5px 10px;
    background-image: linear-gradient(rgb(253, 188, 48),rgb(216, 41, 29));
    border-radius: 15px;
    color: white;
}